* {
    box-sizing: border-box;
  }
  
  html {
    min-height: 100%;
    font-size: 62.5%;
  }

  body { 
    min-height: 100%;
    background: radial-gradient(farthest-corner at top, #e3f03785 0%,rgb(158, 224, 233) 55%,#552342 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font: 300 1.6rem "Open Sans", sans-serif;
  }

  /* ================================
          HEADER STYLES
*/
h1.header {
    font-family: 'Roboto';
    font-size: 4.5rem;
    width: 90%;
    margin: 2.0rem auto 0;
    text-align: center;
    color: black;
  }


  div#addAddress {
    width: 75%;
    margin: 0 auto;
  }
  
  div#addAddress form {
    display: flex;
    flex-direction: column;
  }

  
  div#addAddress div.inputFields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  div#addAddress input[name] {
    border: 1px solid #fff;
    height: 3.2rem;
    padding-left: 2.4rem;
    font: 300 2.0rem 'Open Sans', sans-serif;
    color: #3b454d;
    border-radius: 4.5rem;
    margin-bottom: 2.0rem;
  }

  button#input_button{
    width: 10%;
    height: 4.8rem;
    color: #fff;
    font: 700 1.6rem 'Open Sans', sans-serif;
    background-color: hsl(0, 40%, 2%);
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border: 1px solid #a0b624;
    cursor: pointer;
    align-self: center;
    margin-top: 1.5rem;
    transition: all .5s ease;
  }

  button#update_button{
    width: 10%;
    height: 4.8rem;
    color: #fff;
    font: 700 1.6rem 'Open Sans', sans-serif;
    background-color: hsl(0, 40%, 2%);
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    border: 1px solid #a0b624;
    cursor: pointer;
    align-self: center;
    margin-top: 1.5rem;
    transition: all .5s ease;
  }
button#search_button{
    background-color: hsl(0, 40%, 2%);
    color: floralwhite; 
}

button#reset_search_button{
    background-color: hsl(0, 40%, 2%);
    color: floralwhite; 
}


  

  @media (min-width: 576px) {

    h1.header {
      font-size: 5.7rem;
    }
  
    input#input_search {
      width: 50%;
    }
    h3.contactTitle {
        height: 3.2rem;
        padding-top: 0.3rem;
        font-size: 2.3rem;
      }
    
  }
  
  #output_address {
     color: #3b454d;
    margin-top: 10px;
    border: 3px solid grey;
    height: 400px;
    width: 600px;
}

  
          
